name: Python CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies (CI)
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-ci.txt

      - name: Lint (basic)
        run: |
          python -m compileall src/
